/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a default font for the app */
body {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Style the container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Style the form */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Style the input field */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Style the submit button */
#fetch-rss {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Style the RSS feed columns */
#rss-feed-columns {
}

/* Style individual RSS feed column */
.rss-feed-column {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  margin-bottom: 2rem;
}

/* Style the title and URL */
.rss-feed-column h2,
.rss-feed-column h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Style the delete button */
.rss-feed-column button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  display: inline-block;
}

/* Style the individual feed items */
.rss-feed-column div {
  /* margin-bottom: 1.5rem; */
}

/* Style the feed item title */
.rss-feed-column h4 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

/* Style the feed item link */
.rss-feed-column a {
  color: #333;
  text-decoration: none;
}

/* Style the feed item link on hover */
.rss-feed-column a:hover {
  color: #1a73e8;
}


.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-block;
}

.rss-button {
  background-color: #1a73e8;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-block;
}


.buttons {
  display: flex;
  gap: 0.5rem;
}


.masonry {
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  grid-template-columns: repeat( auto-fill, minmax( 250px, 1fr ) );
  grid-auto-rows: 0; /* 小さな値を指定 */
}